.post-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

.post {
    display: flex;
    align-items: baseline;
    gap: 1rem;
}

.post p {
    margin-block-end: 0;
    line-height: 0;
}

.post a {
    line-height: 1.5;
}
