.not-found-body {
    font-family: 'Space Mono', monospace;
    margin: 0;
    padding: 0;
    background-color: #121212;
    color: #d4d4d4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100dvh;
}

.go-back {
    text-decoration: none;
    color: #61ABFF;

    &:hover {
        text-decoration: underline;
        text-underline-offset: 0.4em;
    }
}
