<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="icon" type="image/ico" href="/static/favicon.ico" />

    {% block head %}{% endblock head %}

    <link rel="stylesheet" type="text/css" href="/static/css/markdown.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/navigation.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/not_found.css" />
</head>

<body class="base-body">
    <div class="base-container">
        <div>
            <div class="base-header">{% block header %}{% endblock header %}</div>

            {% include "nav.html" %}
            <hr class="nav-divider" />

            <main class="base-content">
                {% block content %}{% endblock content %}
            </main>
        </div>

        <div class="footer">
            <p>made with <span><a rel="nofollow" href="https://github.com/tumpa02/rlog" target="_blank">
                        rlog
                    </a></span></p>
            <p class="divider">|</p>
            <a rel="nofollow" href="https://x.com/jan_tumpa" target="_blank">twitter</a>
            <p class="divider">|</p>
            <a rel="nofollow" href="https://github.com/tumpa02" target="_blank">github</a>
        </div>
    </div>
</body>

</html>
