{% extends "base.html" %} 

{% block head %}
<title>Home</title>
<meta name="description" content="rlog - a minimalistic blog/portfolio starter" />
{% endblock head %}

{% block header %}
<h1>home</h1>
{% endblock header %}

{% block content %}
<p>
    Welcome to <span><a rel="nofollow" href="https://github.com/tumpa02/rlog" target="_blank">rlog</a></span>,
    a minimalistic blog/portfolio starter.
</p>
<p>
    The vision for this project is to provide a simple, fast, bloat-less and optimized
    starting point for a blog/portfolio website.
</p>
<p>
    Everything is open source and anyone can take/modify the code to their liking. This
    includes the design, the code, the content, etc..
</p>
<p>
    All of it is provided completely free of charge. All I ask is to leave the 
    'made with rlog' link in the footer. That's it.
</p>
<p>
    rlog is built with only Rust and HTML/CSS. This decision was made to keep the
    project as lightweight and performant as possible.
</p>
<p>
    This project was inspired by <span><a rel="nofollow" href="https://bearblog.dev/" target="_blank">bearblog</a></span>, a similar project written in Django. Credit where credit is due.
</p>
{% endblock content %}
