<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <title>Oops, page doesn't exist</title>
    <meta name="description" content="rlog - a minimalistic blog/portfolio starter" />
    <link rel="icon" type="image/ico" href="/static/favicon.ico" />
    <link rel="stylesheet" type="text/css" href="/static/css/not_found.css" />
</head>

<body class="not-found-body">
    <div class="not-found-container">
        <h1>404 | Not found</h1>
        <p>Oops, the page you are looking for doesn't exist.</p>
        <a class="go-back" href="/">Go back to the home page</a>
    </div>
</body>

</html>
